<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="mb-3">
    <label style="margin-right: 10px;">I am a:</label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender">
      Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="female" formControlName="gender">
      Female
    </label>
  </div>
  <app-text-input
    [formControl]="knownAsControl"
    label="Known as" 
  />
  <app-date-picker
    [formControl]="dateOfBirthControl"
    [maxDate]="maxDate"
    label="Date of birth" 
  />
  <app-text-input
    [formControl]="cityControl"
    label="City" 
  />
  <app-text-input
    [formControl]="countryControl"
    label="Country" 
  />
  <app-text-input 
    [formControl]="userNameControl" 
    label="Username" 
  />
  <app-text-input 
    [formControl]="passwordControl" 
    label="Password" 
    type="password" 
  />
  <app-text-input 
    [formControl]="confirmPasswordControl" 
    label="Confirm password" 
    type="password" 
  />
  
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default me-2" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>